<section>

    <h3>{{data.TotaalAantalObjecten}} resultaten voor "{{data.Metadata.Omschrijving}}"</h3>
    {{#each data.Objects}}
    <article>
        <img height="200" src="{{FotoMedium}}" alt="{{Adres}}" />
        <h1>
            <a id="{{Id}}" href="/house/{{Id}}">{{Adres}}</a>
            <small>{{Postcode}} {{Woonplaats}}</small>
        </h1>
        <p><strong>{{{PrijsGeformatteerdHtml}}}</strong></p>

        <footer>
            <p>{{Woonoppervlakte}}m<span class="sup">2</span> / {{Perceeloppervlakte}}m<span class="sup">2</span>
            <p class="kamers">{{AantalKamers}} Kamers</span></p>
        </footer>
    </article>
    {{/each}}
</section>

<footer>
    <h4>Aantal pagina's: {{data.Paging.AantalPaginas}}</h4>

    {{#if data.Paging.VorigeUrl }}
        <a href="{{#replace data.Paging.VorigeUrl }}{{/replace}}" id="{{data.Paging.VorigeUrl}}">Vorige</a>
    {{/if}}
    <p>Pagina {{data.Paging.HuidigePagina}}</p>
    {{#if data.Paging.VolgendeUrl }}
        <a href="{{#replace data.Paging.VolgendeUrl }}{{/replace}}" id="{{data.Paging.VolgendeUrl}}">Volgende</a>
    {{/if}}
    <!-- <nav>
        <ul>
        </ul>
    </nav> -->
</footer>
