<section class="huis_details">
    <article>
        <h1>
            {{data.Adres}}
            <span>{{data.Postcode}} {{data.Woonplaats}}</span>
        </h1>
        <p><strong>{{{data.PrijsGeformatteerd}}}</strong></p>
        <figure>
            <!-- Portrait -->
            <img src="{{data.Media-Foto.[0]}}" alt="{{data.Adres}}" />

        </figure>
        <figcaption>

            <!-- discription -->
            <p>{{data.VolledigeOmschrijving}}</p>
            <a href="{{data.URL}}">Meer info</a>
            <!-- meta data -->
            <footer>
            </footer>
        </figcaption>
    </article>
</section>
