<section class="huis_details">
    <article>
        <h1>
            {{data.Adres}}
            <span>{{data.Postcode}} {{data.Woonplaats}}</span>
        </h1>
        <p><strong>{{{data.PrijsGeformatteerd}}}</strong></p>
        <figure>
            <img src="{{data.Media-Foto.[0]}}" alt="{{data.Adres}}" />
        </figure>
        <figcaption>
            <p>{{data.VolledigeOmschrijving}}</p>
            <a href="{{data.URL}}">Meer info</a>
            <footer>
            </footer>
        </figcaption>
    </article>
</section>
